* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: lato-regular;
    font-size: 16px;
}
body {
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}



