.review-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    
    li {
        // background-color: $clr2;
        color: rgb(51, 45, 45);
        padding: 5px;
        margin:auto;
        border-bottom: 1px solid rgb(216, 212, 212);
    }
    a {
        color: rgb(228, 78, 18);
        padding: 10px;
    }    
    h3 {
        background-color: #ddd;
        padding: 10px 5px;
        margin: 5px;
    }  
    span {
        color: rgb(0, 0, 0);
    }
    
    .delete-review-btn {
        float: right;
        border-radius: 5px;
        border: none;
        background-color: white;
        cursor: pointer;
        transition: color .2s;
    }

    .delete-review-btn:hover {
        color:rgb(192, 191, 191)
    }

      
}