.robot-list {
    grid-auto-rows: 200px;
    margin-block: 30px
}
.robot-app {
    width: 85%;
    margin: auto;
}

.robot-app .add-toy-btn {
    margin-top: 15px;
    margin-left: 15px;
}